doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Mail Delivery | KPSmart
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        #nav
            .sidenav
                #nav-logo
                    a(href='welcome', title='KPSmart Home')
                        img(src='images/logo.png', height='75')
                .nav-contain
                    ul#nav-events
                        li#currenttab
                            a(href='welcome')
                                strong Welcome
                        li#drop(onclick='toggle_visibility()')
                            a(href='#')
                                strong Business Events
                                span.arrow
                            ul#be
                                li
                                    a(href='mailDelivery') Mail Delivery
                                li
                                    a(href='priceUpdate') Customer Price Update
                                li
                                    a(href='transportCostUpdate') Transport Cost Update
                                li
                                    a(href='routeManagement') Route Management
                        script(type='text/javascript').
                            function toggle_visibility() {
                                var e = document.getElementById('be')
                                var arr = document.getElementsByClassName('arrow');
                                if(e.style.display == 'block') {
                                    e.style.display = 'none';
                                }
                                else {
                                    e.style.display = 'block';
                                }
                            }
                        li
                            a(href='businessMonitoring')
                                strong Business Monitoring
                #identifier
                    | Logged in as !{signedInUser}
                    if manager
                        img#m-image(src='images/manager.png')
                    else
                        img#m-image(src='images/clerk.png')
                    br
                    span#m-status
                        i !{signedInUser}
        #body
            #page-title
                | Mail Delivery
            #content
                p Please enter the details for the parcel you would like to send.
                br
                br
                img#page-image(src='images/delivery.png')
                form
                    | Parcel ID
                    br
                    input(type='text', placeholder='Parcel ID')
                    br
                    br
                    |             Origin
                    br
                    input(list='locations', placeholder='Select a Location')
                    datalist#locations
                        option(value='Auckland')
                        option(value='Hamilton')
                        option(value='Tauranga')
                        option(value='Napier')
                        option(value='Taupo')
                        option(value='New Plymouth')
                        option(value='Palmerston North')
                        option(value='Wellington')
                        option(value='Nelson')
                        option(value='Chrischurch')
                        option(value='Dunedin')
                    br
                    br
                    |             Destination
                    br
                    input(list='locations', placeholder='Select a Location')
                    br
                    br
                    |             Weight (kg)
                    span#vol-lab Volume (m3)
                    br
                    input#weight(type='number', placeholder='0.1 - 25.0', min='0.1', max='25.0')
                    input#vol(type='number', placeholder='0.1 - 25.0', min='0.1', max='25.0')
                    br
                    br
                    input#submit(type='submit', value='Submit')
