doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Log In | KPSmart
        link(rel='stylesheet', href='../public/stylesheets/style.css')
    body
        #container
            #logo
                img#titlelogo(src='../public/images/logo.png')
            #login
                p Enter your credentials
                #username
                    form
                        input(type='text', name='Username')
                        br
                #password
                    form
                        input(type='password', name='Password')
                        br
                #loginbutton
                    button
                        span
                            strong Log in
