<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In | KPSmart</title>

    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>

<body>

    <div id="container">
        <div id="logo"><img src="../public/images/logo.png" id="titlelogo"/></div>
        <div id="login">
            <p>Enter your credentials</p>
            <div id="username">
                <form>
                    <input type="text" name="Username" placeholder="Username"><br>
                </form>
            </div>
            <div id="password">
                <form>
                    <input type="password" name="Password" placeholder="Password"><br>
                </form>
            </div>
            <div id="loginbutton">
                <button><span><a href="welcome.html" ><strong>Log in</strong></a></span></button>
            </div>
        </div>
    </div>


</body>
</html>