doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Customer Price Update| KPSmart
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        #nav
            .sidenav
                #nav-logo
                    a(href='welcome', title='KPSmart Home')
                        img(src='images/logo.png', height='75')
                .nav-contain
                    ul#nav-events
                        li
                            a(href='welcome')
                                strong Welcome
                        li#drop(onclick='toggle_visibility()')
                            a(href='#')
                                strong Business Events
                                span.arrow
                            ul#be
                                li
                                    a(href='mailDelivery') Mail Delivery
                                li#currenttab
                                    a(href='priceUpdate') Customer Price Update
                                li
                                    a(href='transportCostUpdate') Transport Cost Update
                                li
                                    a(href='routeManagement') Route Management
                        script(type='text/javascript').
                            function toggle_visibility() {
                                var e = document.getElementById('be')
                                var arr = document.getElementsByClassName('arrow');
                                if(e.style.display == 'block') {
                                    e.style.display = 'none';
                                }
                                else {
                                    e.style.display = 'block';
                                }
                            }
                        li
                            a(href='businessMonitoring')
                                strong Business Monitoring
                        if manager
                            li#dec-sup-tab
                                a(href='decisionSupport')
                                    strong Decision Support
                #identifier
                    | Logged in as !{signedInUser}
                    if manager
                        img#m-image(src='images/manager.png')
                    else
                        img#m-image(src='images/clerk.png')
                    br
                    span#m-status
                        i !{signedInUser}
        #body
            #page-title
                | Customer Price Update
            #content
                p Please enter the pricing element you would like to adjust
                |         Select a Route &nbsp
                input#select-route(list='routes')
                img#go(src='images/arrow.png', onclick='showRoute()')
                br
                br
                datalist#routes
                    option(value='Route 1')
                    option(value='Route 2')
                script(type='text/javascript').
                    function showRoute() {
                        var block = document.getElementById('route-price');
                        var routename = document.getElementById('select-route');
                        var routes = document.getElementsByTagName('option');
                        for( var i = 0; i < routes.length; i++){
                            if(routes[i].value == routename.value){
                                block.style.display = 'block'
                                return;
                            }
                        }
                    }
                img#page-image(src='images/coin.png')
                br
                form#route-price
                    | Price per Kilometre ($/km)
                    span.pricing-min
                        strong - Current Price: $x:xx/km
                    input(type='number', placeholder='Price per km')
                    span.pricing-min Cost: $x:xx
                    br
                    br
                    |             Price per Kilogram ($/kg)
                    span.pricing-min
                        strong - Current Price: $x:xx/km
                    input(type='number', placeholder='Price per kg')
                    span.pricing-min Cost: $x:xx
                    br
                    br
                    |             Price per Cubic Metre ($/m
                    sup 3
                    | )
                    span.pricing-min
                        strong - Current Price: $x:xx/km
                    input(type='number', placeholder='Price per cubic m')
                    span.pricing-min Cost: $x:xx
                    br
                    br
                    |             Final Markup ($)
                    span.pricing-min
                        strong Current Value: xx.xx%
                    br
                    input(type='number', placeholder='Final Markup')
                    span.pricing-min Nominal Margin: 10.0%
                    br
                    br
                    input#submit(type='submit', value='submit')