<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Price Update| KPSmart</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>

<body>

<div id="nav">
    <div class="sidenav">
        <div id="nav-logo">
            <a href="welcome.html" title="KPSmart Home" ><img src="../public/images/logo.png" height="75"/></a>
        </div>
        <div class="nav-contain">

            <ul id=" nav-events">
                <li><a href="#"><strong>Welcome</strong></a></li>

                <li id="drop"  onclick="toggle_visibility()"><a href="#"><strong>Business Events</strong><span class="arrow"></span></a>
                    <ul id="be">
                        <li><a href="mail-delivery.html">Mail Delivery</a></li>
                        <li id="currenttab"><a href="#">Customer Price Update</a></li>
                        <li><a href="transport-update.html">Transport Cost Update</a></li>
                        <li><a href="route-management.html">Route Management</a></li>
                    </ul>
                </li>
                <script type="text/javascript">
                    function toggle_visibility() {
                        var e = document.getElementById('be')
                        var arr = document.getElementsByClassName('arrow');
                        if(e.style.display == 'block') {
                            e.style.display = 'none';
                        }
                        else {
                            e.style.display = 'block';
                        }
                    }
                </script>

                <li><a href="monitoring.html"><strong>Business Monitoring</strong></a></li>
            </ul>


        </div>
        <div id="identifier">
            Logged in as <i>Chet</i>
            <img src="../public/images/clerk.png" id="m-image"/><br>
            <span id="m-status"><i>Clerk</i></span>
        </div>
    </div>

</div>
<div id="body">
    <div id="page-title">
        Customer Price Update
    </div>
    <div id="content">
        <p>Please enter the pricing element you would like to adjust</p>
        Select a Route &nbsp
        <input id="select-route" list="routes" >
        <img src="../public/images/arrow.png" id="go" onclick="showRoute()"/><br><br>

            <datalist id="routes">
                <option value="Route 1">
                <option value="Route 2">
            </datalist>

        <script type="text/javascript">
            function showRoute() {
                var block = document.getElementById('route-price');
                var routename = document.getElementById('select-route');

                var routes = document.getElementsByTagName('option');

                for( var i = 0; i < routes.length; i++){
                    if(routes[i].value == routename.value){
                        block.style.display = 'block'
                        return;
                    }
                }
            }
        </script>



        <img src="../public/images/coin.png" id="page-image"><br>

        <form id="route-price">
            Price per Kilometre ($/km)<span class="pricing-min"><strong>- Current Price: $x:xx/km</strong></span>
            <input type="number" placeholder="Price per km"> <span class="pricing-min">Cost: $x:xx</span><br>
            <br>
            Price per Kilogram ($/kg)<span class="pricing-min"><strong>- Current Price: $x:xx/km</strong></span>
            <input type="number" placeholder="Price per kg"> <span class="pricing-min">Cost: $x:xx</span><br>
            <br>

            Price per Cubic Metre ($/m<sup>3</sup>)<span class="pricing-min"><strong>- Current Price: $x:xx/km</strong></span>
            <input type="number" placeholder="Price per cubic m"> <span class="pricing-min">Cost: $x:xx</span><br>
            <br>

            Final Markup ($) <span class="pricing-min"><strong>Current Value: xx.xx%</strong></span><br>
            <input type="number" placeholder="Final Markup"> <span class="pricing-min">Nominal Margin: 10.0%</span><br>
            <br>

            <input id="submit" type="submit" value="submit">
        </form>
    </div>

</div>

</body>
</html>