body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

e {
    size: 12pt;
    font-style: italic;
    color: #FF0000;
}
p {
    size: 12pt;
    color: #000000;
}

body{
  background-color: #004c6b;
  font-family: calibri;
  color: #FFFFFF;
  font-size: 14pt;

}

#username{
    padding-bottom: 2%;
}

#container{
    width: 80%;
    text-align: center;
    margin: auto;

}



p{
    color: #FFFFFF;

}

#titlelogo{
  padding-top: 6%;
  height: 60%;
}

#logo{
  height: 180px;
  border-style: solid;
  border: 2pt;

}

#loginbutton{
    padding-top: 1%;

}

#logoimage{
  height: 10%;
}

input {
  padding: 7px 12px;
    border: 2px solid white;
    border-radius: 7px;

}

input:focus {
    border: 2px solid lightskyblue;
    border-radius: 7px;
    -webkit-transition: all 0.30s ease-in-out;
    outline: none;
}

button {
    display: inline-block;
    border-radius: 7px;
    background-color: #0093c9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10pt;
    width: 150px;
    height: 30px;
    transition: all 0.0s;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:active{
    background-color: #FFFFFF;
    color: #0093c9;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

#page-image{
    height: 200px;
    border: none;
    float: right;
    padding-bottom: 60px;
    margin-right: -200px;
}

#page-title{
    float: left;
    position: fixed;
    background-color: #004c6b;
    width: 65%;
    border-bottom-style: solid;
    border-color: #0093c9;
    padding-top: 4.5%;
    text-decoration: none;
    font-family: calibri;
    font-size: 36pt;
    font-weight: normal;


}

#content{
    float: left;
    border: none;
    font-size: 12pt;
    color: #FFFFFF;
    width: 70%;
    border: none;
    padding-top: 13%;

}

#parcel-details{
    width: 75%;
}

#parcel-details td{
    width: 10%;
}

.parcel-details-cost{
    border-top: solid;
    border-color: #0093c9;
}

.parcel-details-value{
    text-align: right;
}


#identifier{
    margin-top: -5%;
    padding: 5% 5% 20% 5%;
    background-color: #262626;
    width: 90%;
    margin-left: -1%;
    border-left: solid #000000;
    border-right: solid #000000;
}

#identifier #logout{
    text-align: right;
    padding-left: 0 !important;
    color: #0093c9;

}

#active-parcels{
    display: block;
}

#rev-exp{
    display: block;
}

#av-times{
    display: block;
}

.head-hover:hover{
    color: #0093c9;
}

.nav-contain{
    height: 77%;
}

#m-status{
    color: #0093c9;
}

#nav{
    width: 22%;
    float: left;
    padding-right: 2%;
    border: none;
    position: fixed;
    height:91%;

}

#m-image{
    height: 45px;
    float: right;

}

.sidenav {
    width: 100%;
    background: #3f3f3f;
    height: 100%;
    font-size: 12pt;
    border: solid;
    border-color: #000000;

}

.sidenav ul{
    border: none;
    list-style: none;
    padding-left: 0px;

}


#nav-logo a{
    background-color: #262626;
}

.sidenav a {
    color: #FFFFFF;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;


}

#currenttab{
    background-color: #0093c9;
}

.sidenav ul li ul li{
    font-size: 10pt;
    padding-left: 10%;
}

.sidenav a:hover {
    background: #262626;
}
.nav-events ul {
    display: none;
}

#nav-logo{
    text-align: center;
}

#be{
    display: none;


}

.sidenav .arrow:after {
    content: url("../images/arrow.png");
    float: right;
    margin-right: 10px;

}
.sidenav li .arrow:after {
    content: url("../images/arrow.png");
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    margin-right: 10px;
}


#body{
    margin-left: 25%;
}

#content form input{
    width: 250px;
}

#content #weight{
    width: 100px;
}

#content #vol{
    width: 100px;
    margin-left: 20px;
}

#vol-lab{
    margin-left: 72px;
}

#priority input{
    margin-left: -90px;
}

#submit{
    float: right;
}

#confirm{
   left: 50%

}
input:hover{
    border-color: lightskyblue;
}

.pricing-min{
    float: right;
    padding-right: 15px;

}

#route-price{
    display: none;
}

#go{
    transform: rotate(-90deg);
    height: 16px;
    padding-right: 10px;
    border: none;
}


#trans-filter td{
    border: none;
    padding-right: 20px;
}

.trans-filter-drop{
    width: 90%;
}

#data-table{
    border: solid;
    border-color: #0093c9;
    background-color: #FFFFFF;
    color: black;
    height: 350px;
    overflow-y: scroll;
    display: block;

}
#data-table td{
    border: none;
    padding-right: 30px;

}

#data-table a{
    color: black;
}

#data-table a:hover{
    color: #FFFFFF;
}


#data-table tr.hover:hover{
    background-color: #0093c9;
    color: #FFFFFF;

}

#data-table td.hover:hover{
    background-color: #0093c9;
    color: #FFFFFF;

}

#active-select{
    float: right;
}

#rev{
    background-color: #FFFFFF;
    padding: 10px 10px;
    border: solid;
    border-color: #0093c9;
}

.metrics{
    border: solid;
    border-color: #0093c9;
    background-color: #FFFFFF;
    color: black;
    width: 650px;
    height: 350px;
    display: block;
    overflow-y: scroll;

}

.metrics td{
    padding-right: 10px;
}

#times{
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    border: solid;
    border-color: #0093c9;
}

#criticalRoutes{
    padding: 10px 10px 10px 10px;

}



